.main-wrapper {
  text-align: center;
  background-color: blueviolet;
}

.main-top {
  margin-top: 32px;
}

.weight-wrapper {
  display: flex;
}

.weight-wrapper > h1 {
  font-size: 24px;
  background-color: aqua;
}

.new-field {
  margin-bottom: 32px;
}