<header>
  <div class="weigtht-wrapper">
    <h1>体重管理アプリ（仮）</h1>
    <nav>
      <ul>
      <li><%= link_to 'ホーム', root_path %></li>
      <li><%= link_to 'マイページ', '#' %></li>
      <li><%= link_to 'ログアウト', '#' %></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div></div>
</main>

<footer>
  <%= render "shared/footer" %>
</footer>